# Prevent users commiting RProj files. .Rproj files cause problems if using two
# computers or different people are working together - you don't want your
# RProject to overwrite someone else's (or your laptop's RProject file to 
# overwrite your computer's RProject file).
.Rproj.user
*.Rproj  
# .Rproj has a star in front to "match any pattern" in regex, which for some reason 
# works to make gitignore actually ignore the file, although supposedly shouldn't need it


# Prevent users to commit their own .Rhistory files
.Rhistory
.RData
.Ruserdata
.Rapp.history

# Prevent mac users to commit .DS_Store files
*.DS_Store